h1{
    color: rgb(0, 255, 98);
}
*{
    font-family: 'Lato',sans-serif;
    
}

.bg-primary-color{
    background-color:#ece8ea;
}

.bg-secondary-color{
    background-color: #ece8ea;
}

.bg-dark-color{
    background-color: #050505;
}

.primary-color{
    color: #050505;
}

.secondary-color{
    color: #7a7a7a;
}

/*NAVBAR*/
#navbar{
    border-bottom: 1px solid #7a7a7a;
}

#navbar a {
    color: #7a7a7a;
}

#navbar a.active{
    border-color: 1px solid#050505;
}

.navbar-brand{
    display: flex;
}